@media (max-width: 768px) {

	.header {
		max-width: 768px;
		min-width: 375px;
		margin-bottom: 4px;
		padding-top: 8px;
	}

	.link__decorate-arrow::after {
		background-size: contain;
		height: 14px;
		left: calc(100% + 8px);
	 	width: 76px;
	}

	.header__logo {
		width: 242px;
	}

	.logo {
		background: url(./img/logo-768.png) center no-repeat;
	}

	.nav__item {
		display: none;
	}
	
	.nav__item_burger-menu {
		display: block;
	}

	.header__search {
		display: none;
	}

	.profile {
		display: none;
	}

	.banner {
		background-size: cover;
		background-position: -128px;
		min-height: 417px;
		max-width: 768px;
		margin-bottom: 4.8em;
		min-width: 375px;
	}

	.banner__title {
		font-size: 49px;
		letter-spacing: 0.02em;
		left: 45px;
		top: 80px;
	}

	.banner__link {
		font-size: 19px;
		letter-spacing: 0.02em;
		left: 45px;
		top: 312px;
	}

	/* block Preview */

	.preview {
		margin-bottom: 1px;
		position: relative;
	}

	.preview::after {
		content: '';
	  position: absolute;
		bottom: -35px;
		border-left: 768px solid transparent;
		border-top: 35px solid #fff;
		z-index: 1;
	}

	.preview__title {
	  font-size: 2.26em;
	  transform: translateX(-9px);
	  letter-spacing: .3px;
	  margin-bottom: 32px;
	}

	.preview__wrap-items {
	  max-width: 690px;
	}

	.preview__item {
	  box-sizing: border-box;
	  height: 352px;
	  position: relative;
	  width: 280px;
	}

	.preview__image {
	  height: 233px;
	  width: 230px;
	}

	.preview__item:nth-child(3),
	.preview__item:nth-child(4) {
		display: none;
	}

	.preview__item::after {
		content: none;
	}

	.preview__image_rasta {
	  background: url(./img/products/rasta-axion.png) no-repeat;
	  background-size: contain;
	}

	.preview__image_pepper {
	  background: url(./img/products/pepper-axion.png) no-repeat;
	  background-size: contain;
	}

	.preview__breadcrumbs {
		transform: translateY(-18px);
	  font-size: 	1.5em;
	  left: .7em;
	  letter-spacing: .03em;
	  width: 260px;
	}

	.preview__price {
	  bottom: 1.7em;
	  font-size: 2em;
	  left: .5em;
	}

	.preview__wrap-colors {
	  bottom: 50px;
	  right: 15px;
	  width: 96px;
	}

	.preview__item-circle {
	  height: 20px;
	  width: 20px;
	}

	.preview__item-circle_big {
	  height: 20px;
	  width: 20px;
	}

	.preview__item-circle_brown {
		order: -1;
	}

	/* block - blog-main */

	.blog-main {
		align-items: center;
		background: #000;
		box-sizing: border-box;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		height: 737px;
		max-width: 768px;
		margin-bottom: 0px;
		position: relative;
	}

	.blog-main__wrap-text {
		transform: translateX(0px);
		padding-top: 62px;
		text-align: center;
		width: unset;
	}

	.blog-main__title {
		color: #fff;
		font-size: 2.25em;
		letter-spacing: .03em;
		margin-bottom: 23px;
		width: unset;
	}

	.blog-main__lead {
		font-size: 1.5em;
		letter-spacing: 0.02em;
		line-height: 1.32em;
		margin-bottom: unset;
		transform: translateY(-6px);	
		width: 682px;
	}

	.blog-main__link {
		display: none;
	}

	.blog-main__video-preview {
		background-size: contain;
		border: solid 8px #000f;
		display: flex;
		transform: translate(-1px, 17px);
		height: 404px;
		width: 695px;
	}

	.blog-main__play-button {
		height: 51px;
		transform: translateY(-8px);
		width: 51px;
	}

	.play-button__triangilar::after {
	 transform: translate(23px, 22px);
	}

	/* block blog-additional */

	.blog-additional {
		background: #000;
		margin-bottom: 120px;
		margin-top: -1px;
		position: relative;
	}

	.blog-additional::after {
    border-bottom: 35px  solid #fff;
	  border-right: 768px solid #000;
		content: '';
		height: 278px;
		margin-top: -1px;
		position: absolute;
		max-width: 732px;
		overflow: hidden;
	}

	.blog-additional__wrap-items {
		max-width: 680px;
		margin-bottom: 86px;
		margin: auto;
	}

	.blog-additional__title {
		color: #fff;
		font-size: 2.2em;
		letter-spacing: 0.04em;
		margin: 0 0 41px;
	}

	.blog-additional__item:nth-child(3) {
		display: none;
	}

	.blog-additional__wrap-items {
		grid-template-columns: repeat(2, 312px);
	}

	.blog-additional__image {
		height: 166px;
		margin-bottom: 30px;
		width: 312px;
	}

	.blog-additional__item-title {
		color: #fff;
		font-size: 1.8em;
		letter-spacing: .03em;
		margin-bottom: 8px;
	}

	.blog-additional__lead {
		color: #fff;
		font-size: 1.562em;
		letter-spacing: .001em;
		line-height: 1.3em;
		margin: 0  0 31px;
		transform: translateY(-2px);
		width: 315px;
	}

	.blog-additional__link {
		color: #fff;
		font-size: 1.6em;
		letter-spacing: -0.02em;
	}

	.link__decorate-arrow_dark::after {
		background: url(./img/arrow-big.svg) no-repeat;
		top: 6px;
		height: 0.7em;
		left: calc(100% + 12px);
	  width: 48px;
	}

	.blog-additional__date {
		bottom: 3px;
		font-size: 1.1em;
		letter-spacing: 0.06em;
		right: -26px;
	}

	/* block gallery */

	.gallery {
		max-width: calc(170px * 4);
		margin-bottom: 170px;
	}

	.gallery__social-tag {
		color: #fff;
		font-size: 2.2em;
		letter-spacing: .055em;
	}

	.gallery__wrap-items {
		grid-template-columns: repeat(4, 170px);
		transform: translateY(46px);
	}

	.gallery__image_photo8 {
		background: url(./img/gallery/social-net/1.jpg);
		display: block;
	}

	.gallery__image {
		height: 170px;
		width: 170px;
	}

	/* block footer */

	.footer {
		max-width: 768px;
	}

	.footer__column-wrapper {
		transform: translateY(48px);
	}

	.footer__column:nth-child(1) {
		transform: translateX(21px);
	}

	.footer__column:nth-child(2) {
		transform: translateX(16px);
	}

	.footer__column:nth-child(3) {
		transform: translateX(19px);
	}

	.footer__column-title {
		font-size: .85em;
		letter-spacing: .07em;
	}

	.footer__column-item {
		transform: translateY(-6px);
	}

	.social {
		max-width: 196px;
		transform: translateX(28px);
	}

	.social__title {
		font-size: .85em;
		letter-spacing: .07em;
	}

	.social__item {
		letter-spacing: .07em;
		line-height: 1.05em;
		transform: translateY(-8px);
		max-width: 165px;
	}

	.social__button {
		height: 25px;
		transform: translateY(3px);
		width: 143px;
	}

		.social__networks {
		justify-content: space-between;
		height: 46px;
		width: 114px;
	}

	.social__networks-item:nth-child(1) {
		background: url(./img/icons/facebook.svg) no-repeat;
		background-size: cover;
		height: 14px;
		width: 7px;
	}

	.social__networks-item:nth-child(2) {
		background: url(./img/icons/twitter.svg) no-repeat;
		background-size: cover;
		height: 13px;
		width: 14px;
		transform: translate(0px, 1px);
	}

	.social__networks-item:nth-child(3) {
		background: url(./img/icons/instagram.svg) no-repeat;
		background-size: cover;
		height: 16px;
		width: 15px;
		transform: translate(2px, 2px);
	}

	.social__networks-item:nth-child(4) {
		background: url(./img/icons/pinterest.svg) no-repeat;
		background-size: cover;
		height: 15px;
		width: 13px;
		transform: translate(3px, 1px);
	}

	.address {
		letter-spacing: -.02em;
		top: 115px;
		transform: translateX(0px);
	}

	.web-hero-school {
		display: none;
	}

}
