@media (max-width: 375px) {

	.header {
		max-width: 375px;
		min-width: 320px;
		margin-bottom: 3px;
		padding-top: 1px;
		height: 67px;
	}

	.link__decorate-arrow::after {
		background-size: contain;
		height: 14px;
		left: calc(100% + 6px);
	 	width: 48px;
	}

	.header__logo {
		width: 200px;
	}

	.logo {
		background: url(./img/logo-375.png) center no-repeat;
	}
	
	.nav__item_burger-menu {
		top: 28px;
		height: 16px;
		width: 61px;
		right: 27px;
	}

	.burger-menu__top {
		height: 6px;
		width: 41px;
	}
	
	.burger-menu__bottom {
		height: 6px;
		width: 41px;
	}

	.banner {
		background-position: -63px;
		background-size: cover;
		max-width: 375px;
		margin-bottom: 2.67em;
		min-width: 320px;
		min-height: 192px;
	}

	.banner__title {
		font-size: 19px;
		letter-spacing: 0.05em;
		left: 48px;
		top: 52px;
		max-width: 200px;
	}

	.banner__link {
		font-size: 11px;
		letter-spacing: 0.04em;
		left: 49px;
		top: 141px;
	}

	/* block Preview */

	.preview__title {
	  font-size: 1.5em;
	  transform: translateX(-5px);
	  margin-bottom: 0px;
	}

	.preview__wrap-items {
	  max-width: 375px;
	}

	.preview__item {
	  box-sizing: border-box;
	  height: 267px;
	  width: 281px;
	}

	.preview__image {
	  height: 171px;
	  width: 163px;
	  transform: translateX(3px);
	}

	.preview__item:nth-child(2),
	.preview__item:nth-child(3),
	.preview__item:nth-child(4) {
		display: none;
	}

	.preview__breadcrumbs {
		transform: translateY(-18px);
	  font-size: 	1.2em;
	  left: 1em;
	  letter-spacing: .001em;
	  width: 260px;
	}

	.preview__price {
	  bottom: 2.20em;
	  font-size: 1.61em;
	  left: .7em;
	}

	.preview__wrap-colors {
	  bottom: 47px;
	  justify-content: space-between;
	  right: 0px;
	  width: 74px;
	}

	.preview__item-circle {
	  height: 15px;
	  width: 15px;
	}

	.preview__item-circle_silver {
		order: 1;
	}
	
	.preview__item-circle_goldenrod {
		order: 1;
	}

	.preview__item-circle_big {
	  height: 15px;
	  width: 15px;
	}


}
