body {
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	align-items: center;
	background: #ff00006f;
	display: flex;
	height: 100px;
	margin: 0 auto 6px;
	max-width: 1030px;
	padding-top: 10px;
}

.header__logo {
	margin-right: 46px;
}

.logo {
	background: url(img/logo.svg) center no-repeat;
	background-size: cover;
	height: 55px;
	width: 55px;
}

.header__nav {
	margin-right: 194px;
	padding-bottom: 2px;
}

.nav__item:nth-child(1),
.nav__item:nth-child(2),
.nav__item:nth-child(4) {
	margin-right: 32px;
}

.nav__item:nth-child(3) {
	margin-right: 33px;
}

.header__search {
	margin-right: 36px;
}

.search {
	position: relative;
}

.search::after {
	content: '';
	background-size: cover;
	background: url(img/search.svg);
	bottom: 6px;
	height: 14px;
	position: absolute;
	right: 1px;
	width: 14px;
}

.search-input {
	border: 0;
	border-bottom: 2px solid black;
	height: 22px;
	padding: 1px 24px 1px 8px;
	max-width: 145px;
}

.search-input:focus {
	outline:none;
}

.header__profile {
	padding-bottom: 2px;
}

.profile__item {
	margin-right: 36px;
}

.profile__item:nth-child(2) {
	margin-right: 3px;
}

.profile__item_in-cart {
	background: black;
	border-radius: 50px;
	color: white;
	height: 15px;
	width: 15px;
	transform: translate(2px, 2px);
	text-align: center;
	position: absolute;;
	
}

.profile {
	background: red;
}

.link {
	font: bold .8em montserrat;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -1px;
}

.banner {
	border: 1px solid black;
}
