@media (max-width: 1024px) {

	.header {
		padding-top: 2px;
		max-width: 930px;
		min-width: 768px;
		margin-bottom: 18px;
	}

	.link__decorate-arrow::after {
		background-size: cover;
		height: 8px;
		left: calc(100% + 11px);
	 	width: 49px;
	}

	.header__logo {
		margin-right: 28px;
		width: 62px;
	}

	.logo {
		background: url(img/logo-1024.png) center no-repeat;
	}

	.nav__item:nth-child(1) {
		margin-right: 31px;
	}

	.nav__item:nth-child(2),
	.nav__item:nth-child(4) {
		margin-right: 33px;
	}

	.header__search {
		right: 204px;
	}

	.search_input {
		max-width: 130px;
	}

	.profile__item:nth-child(1) {
		margin-right: 24px;
	}

	.profile__item:nth-child(2) {
		margin-right: 45px;
	}

	.profile__item_language {
		transform: translateX(2px);
		width: 18px;
	}

	.banner {
		background-size: contain;
		background-position: 10px;
		min-height: 254px;
		max-width: 950px;
		margin-bottom: 63px;
		min-width: 768px;
	}

	.banner__title {
		left: 64px;
		top: 51px;
	}

	.banner__link {
		left: 64px;
		top: 172px;
	}

	/* block Preview */

	.preview {
		margin-bottom: 44px;
	}

	.preview__title {
	  margin-bottom: 24px;
	}

	.preview__wrap-items {
	  max-width: 960px;
	}

	.preview__image {
	  margin-bottom: 7px;
	  width: 170px;
	}

	.preview__item::after {
	  right: -.4em;
	  top: 33px;
	}

	.preview__item:last-child::after {
	  content: none;
	}

	.preview__image_rasta {
	  background: url(./img/products/rasta-axion.png) no-repeat;
		background-size: contain;
	}

	.preview__image_pepper {
	  background: url(./img/products/pepper-axion.png) no-repeat;
		background-size: contain;
	}

	.preview__image_rust {
	  background: url(./img/products/rust-axion.png) no-repeat;
		background-size: contain;
	}

	.preview__image_blue {
	  background: url(./img/products/electric-blue-axion.png) no-repeat;
		background-size: contain;
	}

	.preview__breadcrumbs {
	  left: 1.6em;
	}

	.preview__price {
	  bottom: 2.3em;
	  left: 1.6em;
	}

	.preview__wrap-colors {
	  bottom: 32px;
	  right: 24px;
	  width: 49px;
	}

	/* block - blog-main */

.blog-main {
	height: 443px;
	max-width: 930px;
	margin-bottom: 88px;
}

.blog-main__video-preview {
	transform: translateX(3px);
	height: 326px;
	width: 580px;
}

.blog-main__play-button {
	height: 42px;
	transform: translateX(0px);
	width: 42px;
}

.play-button__triangilar::after {
  transform: translate(19px, 16px);
}

.blog-main__wrap-text {
	transform: translate(-9px, -10px);
	width: 254px;
}

.blog-main__title {
	line-height: 1.15em;
}

.blog-main__lead {
	letter-spacing: 0.01em;
	line-height: 1.3em;
	margin-bottom: 12px;
}

.blog-main__link {
	color: #fff;
}

/* block blog-additional */

.blog-additional {
	/*margin: auto;*/
	/*max-width: 1030px;*/
	/*margin-bottom: 75px;*/
}

.blog-additional__title {
	/*margin-bottom: 41px;*/
	letter-spacing: 0.01em;
}

.blog-additional__wrap-items {
	display: grid;
	grid-template-columns: 307px 307px 307px;
	justify-content: space-between;
	max-width: 1030px;
}

.blog-additional__item {
	max-width: 307px;
	position: relative;
}

.blog-additional__image {
	height: 147px;
	margin-bottom: 30px;
	width: 307px;
}

.blog-additional__image_post-68 {
	background: url(./img/blog/post-68/preview.png);
}

.blog-additional__image_post-69 {
	background: url(./img/blog/post-69/preview.png);
}

.blog-additional__image_post-67 {
	background: url(./img/blog/post-67/preview.png);
}

.blog-additional__item-title {
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: -.01em;
	margin-bottom: 5px;
}

.blog-additional__lead {
	font-size: 1.1em;
	letter-spacing: -.002em;
	line-height: 1.3em;
	margin: 0  0 12px;
	padding: 0;
	width: 21.865em;
}

.blog-additional__date {
	color: #bbb;
	font-weight: bold;
	position: absolute;
	right: 0;
}

/* block gallery */

.gallery {
	max-width: 1030px;
	margin: 0 auto 79px;
	position: relative;
}

.gallery__social-tag {
	color: #bbb;
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: .009em;
	position: absolute;
	right: 0;
	text-transform: uppercase;
}

.gallery__wrap-items {
	display: grid;
	grid-template-columns: 147px 147px 147px 147px 147px 147px 147px;
	align-items: end;
	height: 178px;
}

.gallery__image_photo1 {
	background: url(./img/gallery/social-net/1.jpg);
}

.gallery__image_photo2 {
	background: url(./img/gallery/social-net/2.jpg);
}

.gallery__image_photo3 {
	background: url(./img/gallery/social-net/3.jpg) -1px;
}

.gallery__image_photo4 {
	background: url(./img/gallery/social-net/4.jpg) -1px;
	transform: translateX(-1px);
}

.gallery__image_photo5 {
	background: url(./img/gallery/social-net/5.jpg) -1px;
	transform: translateX(-2px);
}

.gallery__image_photo6 {
	background: url(./img/gallery/social-net/6.jpg) -1px;
	transform: translateX(-3px);
}

.gallery__image_photo7 {
	background: url(./img/gallery/social-net/7.jpg) -1px;
	transform: translateX(-4px);
}

.gallery__image {
	background-size: cover;
	height: 148px;
	width: 148px;
}

/* block footer */

.footer {
	background: #000;
	color: #fff;
	margin: auto;
	position: relative;
	width: 1170px;
}

.footer__wrap-items {
	align-content: end;
	display: grid;
	grid-template-columns: 200px 200px 200px 250px;
	height: 209px;
	justify-content: center;
	margin-bottom: 40px;
}

.footer__item {
	position: relative;
}

.footer__title,
.social__title {
	font-size: 1em;
	position: absolute;
	left: 41px;
	letter-spacing: -0.05em;
	top: -18px;
	text-transform: uppercase;
}

.footer__list-item {
	line-height: 1.45em;
	list-style: none;
}

.footer__link {
	color: #fff;
	font-weight: normal;
	letter-spacing: -0.04em;
	text-decoration: none;
	text-transform: none;
}

.social {
	position: relative;
}

.social__list-item {
	list-style: none;
	transform: translateY(-3px);
}

.social__button {
	background: #000;
	border: 2px solid #fff;
	cursor: pointer;
	color: #fff;
	font-size: 0.95em;
	height: 31px;
	letter-spacing: 0.04em;
	margin-bottom: 28px;
	transform: translate(40px, -6px);
	width: 137px;
}

.social__wrap-items {
	display: flex;
	justify-content: space-around;
	left: 24px;
	position: absolute;
	right:62px;
}

.social__item_facebook {
	background: url(img/icons/facebook.svg) no-repeat;
}
.social__item_twitter {
	background: url(img/icons/twitter.svg) no-repeat;
}
.social__item_instagram {
	background: url(img/icons/instagram.svg) no-repeat;
}
.social__item_pinterest {
	background: url(img/icons/pinterest.svg) no-repeat;
}

.social__item {
	background-size: contain;
	background-position: bottom;
	height: 18px;
	width: 18px;
}

.address {
	font-style: normal;
	text-align: center;
	letter-spacing: -0.02em;
	padding-bottom: 32px;
}

.web-hero-school {
	background: url(img/web-hero-school.png) no-repeat;
	bottom: 20px;
	height: 38px;
	position: absolute;
	right:20px;
	width: 94px;
}

.footer {
	display: none;
}

}
